[submodule "extern/volk"]
	path = extern/volk
	url = https://github.com/zeux/volk.git
[submodule "extern/gltf_sdf"]
	path = extern/gltf_sdf
	url = https://github.com/hipiPan/gltf_sdf.git
[submodule "extern/Vulkan-Headers"]
	path = extern/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "extern/glfw"]
	path = extern/glfw
	url = https://github.com/glfw/glfw.git
[submodule "extern/glm"]
	path = extern/glm
	url = https://github.com/g-truc/glm.git
[submodule "extern/spark"]
	path = extern/spark
	url = https://github.com/hipiPan/spark.git
